@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'dastnevis';
    src: url('/danstevis.otf');
}

@font-face {
    font-family: "vazir";
    src: url('/Vazirmatn-Regular.ttf');
}

body {
    font-family: 'dastnevis';
    background-color: #f2f1ed;
}


button[aria-label="Close"] {
    display: none;
}